<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.group_project_timesaver"
        tools:targetApi="31">
        <activity
            android:name=".View_daily_goals"
            android:exported="false" />
        <activity
            android:name=".Total_hours_worked"
            android:exported="false" />
        <activity
            android:name=".TotalHoursWorkedActivity"
            android:exported="false" />
        <activity
            android:name=".SetDailyGoals"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".timesheet_viewing"
            android:exported="false" />
        <activity
            android:name=".DisplayImageActivity"
            android:exported="false" />
        <activity
            android:name=".TimesheetDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Achievements"
            android:exported="false" />
        <activity
            android:name=".Category_hrs"
            android:exported="false" />
        <activity
            android:name=".view_menu"
            android:exported="false" />
        <activity
            android:name=".Message_Sent"
            android:exported="false" />
        <activity
            android:name=".Contact_Us"
            android:exported="false" />
        <activity
            android:name=".Main_Menu"
            android:exported="false" />
        <activity
            android:name=".create_category"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".CreateTimesheet"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.group_project_timesaver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>